<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Technical Analysis</title>
        <link rel="shortcut icon" type="image/png" href="../favicon.ico"/>
    </head>
    <body>
        <br>
        <form action="/dv/masterdeliverypercent" method="POST">
            <div>
                <input type="text" name="quotesfrom"></div>
                <input type="text" name="quotefor"></div>
            <br>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </body>
</html>