<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Technical Analysis</title>
        <link rel="shortcut icon" type="image/png" href="../favicon.ico"/>
        <style>
            input {
                margin: 10px;
            }
        </style>
    </head>
    <body>
        <form action="/options/optionPrice" method="POST">
            <div>
                Option Symbol: <input type="text" name="optionSymbol"><br>
                Date: <input type="date" name="optionpricedate"><br>
            </div>
            <br>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
        <br><br>
        <form action="/dv/masterdeliverypercent" method="POST">
            <div>
                <input type="text" name="quotesfrom">
                <input type="text" name="quotefor">
            </div>
            <br>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
        <script>
            function calculate() {
                const stockPrice = parseFloat(document.getElementById('stockPrice').value)
                for(i = 1; i <= 6; i++) {
                    const callPrice = parseFloat(document.getElementById('callPrice' + i).value)
                    const strickPrice = parseFloat(document.getElementById('strickPrice' + i).value)
                    const putPrice = parseFloat(document.getElementById('putPrice' + i).value)
                    const strickPriceValue = stockPrice - strickPrice
                    if (strickPriceValue >= 0) {
                        document.getElementById('callResult' + i).value = callPrice - strickPriceValue
                        document.getElementById('putResult' + i).value = putPrice + strickPriceValue
                    } else {
                        document.getElementById('callResult' + i).value = callPrice - strickPriceValue
                        document.getElementById('putResult' + i).value = putPrice + strickPriceValue
                    }
                }
            }
        </script>
    </body>
</html>