<div style="display:inline-grid;width:25%">
  <p>NR7</p>
  <% for(var i=0; i < nr7.length; i++) {%>
    <p><a target="_blank" href=<%= "https://chartink.com/stocks/" + nr7[i] + ".html" %>><%= nr7[i] %></a></p>
  <% } %>
</div>
<div style="display:inline-grid;width:25%">
  <p>NR4</p>
  <% for(var i=0; i < nr4.length; i++) {%>
    <p><a target="_blank" href=<%= "https://chartink.com/stocks/" + nr4[i] + ".html" %>><%= nr4[i] %></a></p>
  <% } %>
</div>