<div style="display:inline-grid;width:45%">
  <p>Above Average Volume Stocks - <%= stockName.length %></p>
  <% for(var i=0; i<stockName.length; i++) {%>
    <p><a target="_blank" href=<%= "https://chartink.com/stocks/" + stockName[i] + ".html" %>><%= stockName[i] %></a>- <%= deliveryPercentage[i] %></p>
  <% } %>
</div>